.box {
    width: auto;
    background-color: #7c7c7c;
    position: relative;
    margin: auto;
    width: calc(100% - 200px);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

h1 {
    margin-left: 30px;
    padding-bottom: 50px;
}

.box::before {
    position: absolute;
    content: " ";
    
    top: -1px;
    left: -40px;
    right: 40px;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: calc(100% + 75px);
    height: 100%;
}

.box::after {
    position: absolute;
    content: " ";
    top: -40px;
    right: -1px;
    bottom: 40px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 100%;
    height: calc(100% + 75px);
}

