html
  head
    title= title
  body
    <h1>Show other sites</h1>
    <form method = "post" action = "/">
        <span>Input URL</span>
        <input id = "url" name = "url" type = "text" placeholder="url" autofocus>
        <input  type = "submit" id = "submit" value = "GO!!!">
    </form>
    <br>
    h3= url
    <br>
    span= bodytag